{% extends "base.html" %}
{% block title %}Загрузка данных{% endblock %}
{% block content %}
    <h1>Загрузка данных</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.data_file.label }}
            {{ form.data_file(class="form-control-file") }}
            {% if form.data_file.errors %}
                <div class="alert alert-danger">
                    {% for error in form.data_file.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}